# build leftovers
.dep/
build/
hydrafw_version.hdr

cscope.out
hydrafwEm.cscope_file_list
hydrafwEm.depend
hydrafwEm.elay
*.o
*.d
*.dfu
*.elf
*.hex
*.map
*.hdr
/src/.settings
/src/.idea/
.vscode/
src/hydrafw Debug.launch
