# UDEV Rules for HydraBus boards tested on Arch Linux 27 Nov 2023, http://www.hydrabus.com
#
# To install, type this command in a terminal:
#   sudo cp 09-hydrabus-arch_linux.rules /etc/udev/rules.d/09-hydrabus-arch_linux.rules
#
# disable ModemManager
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60a7", ENV{ID_MM_DEVICE_IGNORE}="1"
# disable autosuspend USB from kernel (solve TLP issue)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60a7", TEST=="power/control", ATTR{power/control}="on"
# create a symlink into /dev/hydrabusX where X is the number of hydrabus
SUBSYSTEM=="tty", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="60a7", PROGRAM="/bin/sh -c 'echo $$((%n+1))'", SYMLINK+="hydrabus%c"
